

.hotbar-holder {
    flex-grow: 0;
    bottom: 40px;
    flex-shrink: 0;
    position: absolute;
    align-self: center;
}

.item-text {
    -unity-text-align: upper-right;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    font-size: 24px;
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    -unity-text-outline-width: 0;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
