.item-root {
    flex-grow: 0;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.item-image {
    flex-grow: 0;
    flex-shrink: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.item-text {
    -unity-text-align: upper-right;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    font-size: 24px;
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    -unity-text-outline-width: 0;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.item-root {
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.item-dragged {
    width: 100px;
    height: 100px;
    z-index: 100;
}

.item-amount {
    top: auto;
    bottom: -5px;
    right: 0;
    position: absolute;
}

