.holder {
    flex-grow: 0;
    width: 1150px;
    height: 800px;
    flex-shrink: 0;
    background-color: rgb(236, 222, 192);
}

.corners {
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
}

.root {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    flex-direction: row;
}

.spaced-right {
    margin-top: 0;
    margin-right: 10px;
    margin-left: 0;
}

.spaced-bottom {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

.space {
    width: 50px;
}

.spacer-col {
    flex-grow: 1;
    height: 40px;
}

.space-smol {
    width: 25px;
}

.button:hover {
    -unity-background-image-tint-color: rgb(255, 250, 129);
}

.button {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-image: url("project://database/Assets/Sprites/UI_Art/UI_Assets/Sprout%20Lands%20-%20UI%20Pack%20-%20Basic%20pack/Sprite%20sheets/UI%20Big%20Play%20Button.png?fileID=-7635131891296033614&guid=37ff9dbef34be1143b9dd72cadecd16c&type=3#UI Big Play Button_0");
    width: 180px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(55, 55, 55, 0);
    font-size: 30px;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
}
