

.hotbar-root {
    flex-grow: 0;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
}

.hotbar-background {
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-left-color: rgba(92, 52, 30, 0.7);
    border-right-color: rgba(92, 52, 30, 0.7);
    border-top-color: rgba(92, 52, 30, 0.7);
    border-bottom-color: rgba(92, 52, 30, 0.7);
}
